/* css/styles.css */

/* 기본 스타일 */
body{
    font-family: Arial,sans-serif; 
    margin: 0;
    color: #333;
    background-color: #f9f9f9; 
}

header{
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1{
    font-size: 2rem;
}

.subtitle{
    font-size: 1.2rem;
}

/* 섹션 스타일 */
section{
    margin: 20px auto;
    padding: 20px;
    max-width: 768px;
    border-radius: 8px; /*둥글해지는 원의 반지름*/
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.highlight{ /*클래스 선택*/
    background-color: #ffeb3b;
    padding: 5px;
    border-radius: 5px;
}

h2{ /*요소 선택*/
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#special{ /*아이디 선택*/
    color: #d32f2f;
    font-weight: bold;
}

ul li{
    list-style-type:none;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ce8d15;
    border-radius: 5px;

}

ul li:nth-child(odd){
    background-color: #f1f1f1;
}


ul li:nth-child(even){
    background-color: green;
}


button:hover{
    background-color: #4caf50;
    color: white;
}

button:focus{
    outline: 2px solid #ff5722;
}

span strong{
    color: #1976d2;
    text-decoration: underline;
}


#example-box { /*아이디 선택*/
    color:blue;
    background-color: yellow;
    border: 2px solid black;
    background-color: #fff;
}



